.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.no-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.no-products-img,
.failure-img {
  width: 250px;
}
.no-product-heading,
.failure-heading {
  font-family: 'roboto';
  font-size: 24px;
  color: #0f172a;
  font-weight: bold;
  line-height: 2px;
}
.no-product-description,
.failure-description {
  font-family: 'roboto';
  font-size: 14px;
  color: #64748b;
  line-height: 2px;
}
@media screen and (min-width: 768px) {
  .no-products-img,
  .failure-img {
    width: 400px;
    margin: 10px 0;
  }
  .no-product-heading,
  .failure-heading {
    font-size: 32px;
  }
  .no-product-description,
  .failure-description {
    font-size: 16px;
  }
}
